
main {
    background:linear-gradient($lightTeal 50%, white);
    padding-top:50px;
}
.mainArtist {
    background:white;
    border-radius: 5px;
    margin-bottom:50px;
}

.photo {
    float:left;
    position: relative;
    a {
        color:white;
        text-decoration: none;
        background:$button;
        position: absolute;
        bottom:5%;
        left:50%;
        transform: translateX(-50%);
        padding:10px 40px;
        border-radius: 25px;
        max-width:200px;
        width:100%;
        text-align: center;
        &:hover,
        &:focus {
            background:white;
            color:$button;
        }
    }
}
img {
    max-width:500px;
    width:100%;
}

.artistInfo {
    float:left;
    padding-top:25px;
    padding-left: 25px;
    padding-right: 20px;
    max-width:300px;
    img {
        max-width:20px;
        float:left;
        padding-top:10px;
    }
}

h2 {
    font-family: $headerFont;
    font-size:42px;
    line-height: 42px;
}

p {
    font-family:$bodyFont;
    font-size:24px;
    line-height: 42px;
}
.artistBlurb {
    padding-bottom: 25px;
    padding-top: 25px;  
}
.showInfo {
    padding-top:25px;
}
.showInfo div p {
    padding-left:35px;
    // padding-bottom:1px;
    margin:0px;
}
